<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/inicio.css' />

    <title>Document</title>
</head>
<body>
    <h1>Ingreso de data</h1>
    <div class="content">
        <div class="Liga ED">
            <h3>Liga ED</h3>
            <ul>
                <li><a href="http://localhost:8081/ed/fem">Femenil</a></li>
                <li><a href="http://localhost:8081/ed/libre">Libre</a></li>
                <li><a href="http://localhost:8081/ed/mixta">Mixta</a></li>
            </ul>
            
        </div> 
        <div class="Prochampions">
            <h3>ProChampions</h3>
            <ul>
                <li><a href="http://localhost:8081/ed/pfemenil">Femenil</a></li>
                <li><a href="http://localhost:8081/ed/plibre">Libre</a></li>
                <li><a href="http://localhost:8081/ed/pmix">Mixta</a></li>
                <li><a href="http://localhost:8081/ed/psub">Sub-21</a></li>
            </ul>
        </div> 
        <div class="Gemelas">
            <h3>Gemelas</h3>
            <ul>
            <li><a href="http://localhost:8081/ed/gmix">Mixta</a></li>
            <li><a href="http://localhost:8081/ed/gsub">Sub-21</a></li>
            <li><a href="http://localhost:8081/ed/gjuve">Sub-19</a></li>

            </ul>
        </div> 

        <div class="Aguigol">
            <h3>Aguigol</h3>
            <ul>
                <li><a href="http://localhost:8081/ed/Asub21">Sub-21</a></li>
                <li><a href="http://localhost:8081/ed/Alibre">Libre</a></li>
                <li><a href="http://localhost:8081/ed/mixta">Mixta</a></li>
            </ul>
            
        </div> 
    </div>
</body>
</html>