<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&display=swap" rel="stylesheet">

    <link rel='stylesheet' href='/stylesheets/resul.css' />
    

    <title>Document</title>
</head>
<body>
    <div class="content_resul">
        <p class="fecha">7-03-2022</p>
        <p class="Cat">Categoria Femenil</p>
        <p class="Jor">Semana 7</p>
        <div class="equipo_1">
            <img class="equipos" src="/escudos/ajax.png" alt="">
        </div> 
        <p class="versus"></p>
        <div class="Equipo_2">
            <img class="equipos" src="/escudos/alemania.png" alt="">
        </div>       
        <p class="marcador">2-2</p>
        <p class="Logo">
            <img class="logo-img" src="/images/logochampions.png" alt="">
        </p>
        <p class="liga">Pro Champions League</p>
    </div>

    <%- resul %>

    <p>Resultados Libre vista</p>
</body>
</html>